.slidebook-enter {
    transform: translateX(100%);
    opacity: 0;
  }
  
  .slidebook-enter-active {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(0);
    opacity: 1;
  }
  
  .slidebook-exit {
    transform: translateX(0);
    opacity: 1;
  }
  
  .slidebook-exit-active {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
  }
  