.slidemain-enter {
  transform: translateX(100%);
  opacity: 0;
}

.slidemain-enter-active {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(0);
  opacity: 1;
}

.slidemain-exit {
  transform: translateX(0);
  opacity: 1;
}

.slidemain-exit-active {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(-100%);
  opacity: 0;
}
